/* 
    --------------------
    RESET
    --------------------
*/
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;

    &:not(ul) {
        // *:not(ul)
        padding: 0;
    }
}